:root {
    --background: hsl(225, 100%, 94%);
    --white: hsl(0, 0%, 100%);
    --title-color: hsl(223, 47%, 23%);
    --text-color: hsl(224, 23%, 55%);
    --button-and-change: hsl(245, 75%, 52%);
    --hover: hsl(245, 83%, 68%);
}